@import url('../bootstrap/css/bootstrap.min.css');

@font-face{
    font-family: 'corps';
    src: url('fonts/Cabin-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'titre';
    src:url('fonts/Lobster-Regular.ttf') format('OpenType');
}

body {
    overflow-x: hidden;    
    display: flex;
    flex-direction: column;
    height: 100vh; 
    font-family: 'corps';
}

body, body section, body .jumbotron, body footer {
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
    background-color: transparent;
    color:black;
}

a:hover {
    color: #870909;
    text-decoration:none;
}

a:active, a:visited, a:link  {
    text-decoration: none;
    /* color:inherit; */
}

/* https://codepen.io/thelittleblacksmith/pen/zXNVvY */
  
/* .nav-item > a, a.navbar-brand {
    font-family: 'corps';
    border-bottom: 1px solid red;
    transition: all 0.25s linear;
    position: relative;
  } */

  .nav-item > a, a.navbar-brand, .dropdown-toggle a {
    border-bottom: 0px solid white;
    transition: all 0.25s linear;
    position: relative;
  }

.nav-item > a:before, a.navbar-brand:before, .dropdown-toggle a:before {
  
  
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color:white;
    position: absolute;
    left: 0;
    bottom: 2px; /* this is to match where the border is */
    transform-origin: left; 
    transform: scale(0);
    transition: 0.25s linear;
  
  }



/* .nav-item > a:before, a.navbar-brand:before {
    bottom:2px;
    background-color: white;
  } */

.nav-item > a.active:after, .dropdown-toggle a.active:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 5px;
    background-color:#A40404;
    position: absolute;
    left: 0;
    bottom: 2px; /* this is to match where the border is */
  }

.dropdown-menu a.nav-link{
    border-bottom: 0px;
    font-family: 'corps';
}

.dropdown-menu a.nav-link:before {
    height:0;
}

.navbar a:hover:before {
    transform: scale(1);
  }

h1, h2 {
    color: #A40404;
    font-family: 'titre';
}

p { 
    color: black;
    font-family: 'corps';
}


/* Menu */

.navbar-custom {
    background-color: #E7E7E7;
}
/* change the brand and text color */
.navbar-custom .navbar-brand {
    color: white;
}

.navbar-brand img {
    height: 40px;
    padding-bottom: 10px;
}

.navbar-custom .navbar-text {
    color: white;
}


/* .navbar-custom .nav-item {
    background-color: black;
    padding: 2px;
    margin-left:2px;
    margin-right:2px;
} */

/* change the link color */
.navbar-custom .navbar-nav .nav-link,
.navbar-custom .navbar-nav .dropdown-menu .nav-link,
.navbar-custom .navbar-nav .dropdown-toggle {
    color: black;
}

.navbar-custom .navbar-nav .nav-link {
    margin-right: 2px;
    margin-left: 2px;
}

/* .navbar-custom .navbar-nav .dropdown-toggle:after, */
/* .navbar-custom .navbar-nav .dropdown-toggle:active */
.navbar-custom .navbar-nav .dropdown-toggle,
.navbar-custom .navbar-nav .dropdown-toggle:hover,
.navbar-custom .navbar-nav .dropdown-toggle:focus  {
    background-color: transparent;
}

.navbar-custom .navbar-header .navbar-toggle .icon-bar {
        background-color:#A40404;
}

/* change the color of active or hovered links */
.navbar-custom a.nav-link.active {
    color:#A40404;
    font-weight: bold;
}

.navbar-custom .nav-item .nav-link:hover,
.navbar-custom .navbar-nav .dropdown-toggle:hover {
    background-color: transparent;
}

.navbar-custom .dropdown-menu {
    background-color: #E7E7E7;
}

/* Footer */

footer {
  /*  background-color: white; */

    /* margin-top:30px;
    padding-top: 25px;
     padding-left:10px;
     font-family: 'corps'; */

   /* padding-right: 25px; */
}


.container-fluid {
        flex: 1 0 auto; 
}


footer div div div img {
    width: 75px;
    padding-bottom: 10px;
}


footer {
    padding: 20px;
    flex-shrink: 0; 
}


